table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

input[type="text"]{
    border: 2px solid #bbb;
    display: block;
    font-size: 18px;
    height: 24px;
    margin: 4px 0;
    padding: 0;
    width: 100%;
}

.deleteButton {
    background-color:#f51818;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#fafafa;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:5px 12px;
    text-decoration:none;
    float: right;
}
.deleteButton:hover {
    background-color:#fc0000;
}
.deleteButton:active {
    position:relative;
    top:1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

/* Star Rating */
.starRating:not(old){
    display        : inline-block;
    width          : 7.5em;
    height         : 1.5em;
    overflow       : hidden;
    vertical-align : bottom;
}

.starRating:not(old) > input{
    margin-right : -100%;
    opacity      : 0;
}

.starRating:not(old) > label{
    display         : block;
    float           : right;
    position        : relative;
    background      : url('playlistPage/star-off.svg');
    background-size : contain;
}

.starRating:not(old) > label:before{
    content         : '';
    display         : block;
    width           : 1.5em;
    height          : 1.5em;
    background      : url('playlistPage/star-on.svg');
    background-size : contain;
    opacity         : 0;
    transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
    opacity : 1;
}
