@import "/resources/css/header.css";

div#pageWrapper {
}

div.sectionHeader {
    margin: 0;
    background-color: #333333;
}

div#understandingLevelSection {
    background-color: #F6F6F6;
    border: 1px solid black;
    height: 70px;
}

div#wrapperForVideoAndNoteForm {
    min-height: 80px;
    overflow: hidden;
    width: 100%;
    border: 1px solid black;
    background-color: #F6F6F6;
}

div#videoSection {
    float: left;
    height: 400px;
    width: 750px;
}

div#addNoteSection {
    float: right;
    height: 400px;
    width: 700px;
}

div#notesSection {
    min-height: 50px;
    overflow: hidden;
    width: 100%;
    border: 1px solid black;
    background-color: #F6F6F6;
}

p.ppsd {
    color: #ffffff;
    margin-top: 0;
    text-align: center;
}

textarea {
    height: 318px;
    width: 98%;
}

.noteDiv {
    min-height: 50px;
    overflow: hidden;
    padding: 1px;
}

.starRating:not(old){
    display        : inline-block;
    width          : 7.5em;
    height         : 1.5em;
    overflow       : hidden;
    vertical-align : bottom;
}

.starRating:not(old) > input{
    margin-right : -100%;
    opacity      : 0;
}

.starRating:not(old) > label{
    display         : block;
    float           : right;
    position        : relative;
    background      : url('star-off.svg');
    background-size : contain;
}

.starRating:not(old) > label:before{
    content         : '';
    display         : block;
    width           : 1.5em;
    height          : 1.5em;
    background      : url('star-on.svg');
    background-size : contain;
    opacity         : 0;
    transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
    opacity : 1;
}