table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

input[type="text"]{
    border: 2px solid #bbb;
    display: block;
    font-size: 18px;
    height: 24px;
    margin: 4px 0;
    padding: 0;
    width: 100%;
}